version: '3.9'

services:
  runtime:
    container_name: runtime
    build:
      context: .
      dockerfile: runtime.Dockerfile
    privileged: true
    ipc: host
    ulimits:
      stack: -1
      memlock: -1
    volumes:
      - ./shared:/srv/shared
    deploy:
      resources:
        reservations:
          devices:
            - capabilities: [gpu]
